@import "tailwindcss";

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

:root {
  --color-bg-primary: #0b1f3a; /* azul */
  --color-bg-primary-ligth: #112b4a;
  --color-btn-primary: #155dfc;
  --color-btn-primary-hover: #2b7fff;
}
